body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 11.5px;
    width: 31.55%;
}

input {
    padding: 10px;
    width: 30%;
    border: none;
    outline: 1px solid black;
}

select {
    padding: 10px;
    width: 31.35%;
    border: none;
    outline: 1px solid black;
}

#answer {
    background-color: rgb(238, 238, 238);
    width: 31.55%;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}